@font-face {
    font-family: Eudoxus-B;
    src: url('../fonts/Eudoxus/Eudoxus-Bold.woff2');
}
@font-face {
    font-family: Eudoxus-M;
    src: url('../fonts/Eudoxus/Eudoxus-Medium.woff2');
}
@font-face {
    font-family: Eudoxus-R;
    src: url('../fonts/Eudoxus/Eudoxus-Regular.woff2');
}
