@import url(./variables.css);
@import url(./fonts.css);
@import url(./buttons.css);
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color-white);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family-eudoxus-b);
    line-height: 130%;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 44px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}

div, p {
    font-family: var(--font-family-eudoxus-m);
    font-size: 18px;
    line-height: 180%;
}

p {
    color: var(--color-paragraph);
}