:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    
    --color-red: #FF0000;
    
    --color-gray-dark: #373d48;
    --color-gray-medium: #5C5C5C;
    --color-gray-medium-light: #8B8B8B;
    --color-gray-light: #BFBFBF;

    --color-blue-dark: #212834;
    --color-purple-62: #372B43;

    --font-family-montserrat-b: Montserrat-700, sans-serif;

    --font-family-roboto-b: Roboto-700, sans-serif;
    --font-family-roboto-m: Roboto-500, sans-serif;

    --font-family-notosans-b: NotoSans-700, sans-serif;
    --font-family-notosans-m: NotoSans-500, sans-serif;
    --font-family-notosans-r: NotoSans-400, sans-serif;

    --font-family-avenir-b: Avenir-800, sans-serif;
    --font-family-avenir-m: Avenir-500, sans-serif;

    --animation-speed: .3s;
    --animation-func: ease;
    --animation: var(--animation-speed) var(--animation-func);
}