:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    
    --color-main: #518581;
    --color-secondary: #FFB23F;
    --color-text: #151411;
    --color-paragraph: #AFADB5;
    --color-placeholder: #F9F9F9;
    --color-line: #F3F3F3;

    --color-brown: #AD7E5C;

    --font-family-eudoxus-b: Eudoxus-B, sans-serif;
    --font-family-eudoxus-m: Eudoxus-M, sans-serif;
    --font-family-eudoxus-r: Eudoxus-R, sans-serif;

    --animation-speed: .3s;
    --animation-func: ease;
    --animation: var(--animation-speed) var(--animation-func);
}